<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
    <div class="container justify-content-center">
        <%- include ('../partials/nav') %>
            <br><br>
    </div>
    <div class="container py-5">
        <header class="text-center text-white">
        </header>
        <div class="row py-5">
            <div class="col-lg-10 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-4">
                                    <button class="btn btn-primary"><a href="/aunivbutton" class="text-white">A대학
                                            연동</a></button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary"><a href="/bunivbutton" class="text-white">B대학
                                            연동</a></button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary"><a href="/cunivbutton" class="text-white">C대학
                                            연동</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/scripts') %>
</body>